# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history
data/zenodo/

# R package build artifacts
*.zip
*.tar.gz
.Rcheck/
/vignettes/*.html
/vignettes/*.pdf

# Test artifacts
testthat.Rout
tests/testthat/_snaps/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Misc
*.log

/.quarto/
